<div class="navbar navbar-light">
    <div class="container section-navbar">
        <div class="col-12">
            <a class="first-nav-link nav-link" href="#"><img src=".\assets\images\AutoTrader.jpg"></a>
        </div>
        <div class="container section-cols">
            <div class="row">
              <div class="col-sm-3">
                <p>Contact Us</p>
                <p>About Auto Trader</p>
                <p>Careers</p>
                <p>Investor Information</p>
                <p>Privacy policies and terms</p>
                <p>Selling terms & conditions</p>
                <p>Brand advertising on Auto Trader</p>
                <p>Carzone.ie</p>
              </div>
              <div class="col-sm-5 middle-col">
                <mat-expansion-panel>
                  <mat-expansion-panel-header (click)="clickEvent($event)" [ngClass]="blueborder0 ? 'blue-border' : 'remove-blue-border'">
                    <mat-panel-title>
                    Products and Services
                  </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Car Valuations</p>
                  <p>Sell my car</p>
                  <p>Vehicle check</p>
                  <p>Car finance</p>
                  <p>Car insurance</p>
                  <p>Part exchange</p>
                  <p>Finance calculator</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header (click)="clickEvent($event)" [ngClass]="blueborder1 ? 'blue-border' : 'remove-blue-border'">
                    <mat-panel-title>
                    Buying advice
                  </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Car reviews</p>
                  <p>Buying & selling guide</p>
                  <p>Retailer awards</p>
                  <p>New car awards</p>
                  <p>Why Auto Trader?</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header (click)="clickEvent($event)" [ngClass]="blueborder2 ? 'blue-border' : 'remove-blue-border'">
                    <mat-panel-title>
                    Quick Search
                  </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Car brands</p>
                  <p>All UK locations</p>
                  <p>Find a car dealer</p>
                  <p>Motability</p>
                  <p>Classic cars</p>
                  <p>Cheap cars</p>
                  <p>New car deals</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header (click)="clickEvent($event)" [ngClass]="blueborder3 ? 'blue-border' : 'remove-blue-border'">
                    <mat-panel-title>
                    Auto Trader for dealers
                  </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Dealer portal</p>
                  <p>Advertising packages</p>
                  <p>Pay As You Go</p>
                </mat-expansion-panel>
              </div>
              <div class="col-sm-4">
                <p>Help us improve our website.</p>
                <img class="navbotttomimg" src=".\assets\images\navbottomimg.png">
                <p>Copyright © Auto Trader Limited 2022.</p>
                <p>Auto Trader Limited is authorised and regulated by the Financial Conduct Authority in relation to consumer credit and insurance mediation activities. Our FCA firm reference number is 735711.Auto Trader Limited is a credit broker and not a lender. Representative finance examples are for illustrative purposes only. Finance is subject to status. Terms and conditions apply. Available to 18s and over. UK residents only. Auto Trader receives a fee from retailers advertising finance and may receive a commission from commercial partners for introducing customers to finance products. These fees and commissions do not influence the amount a customer pays.</p><br/><br/>
                <p>Registered office and headquarters:</p><br/>
                <p>4th Floor<br/>
                    1 Tony Wilson Place<br/>
                    Manchester<br/>
                    M15 4FN<br/>
                    United Kingdom<br/>
                    Registered number: 03909628
                </p>
              </div>
            </div>
          </div>
    </div>
</div>

