<nav class="navbar navbar-light">
    <div class="container">
      <a class="first-nav-link nav-link" href="#">Cars</a>
      <a class="nav-link" href="#">Luxury Cars</a>
      <a class="nav-link" href="#">Vans</a>
      <a class="nav-link" href="#">Bikes</a>
      <a class="nav-link" href="#">Motorhomes</a>
      <a class="nav-link" href="#">Caravans</a>
      <a class="nav-link" href="#">Trucks</a>
      <a class="nav-link" href="#">Farm</a>
      <a class="nav-link" href="#">Plant</a>
      <a class="nav-link" href="#">Security advice</a>
    </div>
    <div class="container lower-section-navbar">
      <a class="first-nav-link nav-link" href="#"><img src=".\assets\images\AutoTrader.jpg"></a>
      <a class="nav-link" href="#">Used Cars</a>
      <a class="nav-link" href="#">New Cars</a>
      <a class="nav-link" href="#">Sell your car</a>
      <a class="nav-link" href="#">Value your car</a>
      <a class="nav-link" href="#">Car reviews</a>
      <a class="nav-link" href="#">Car leasing</a>
      <a class="nav-link" href="#">Electric cars</a>
      <a class="nav-link" href="#">Buy a car online</a>
    </div>
</nav>
