.searchbox{
    background-color: #fff;
    height:360px;
    width:340px;
    float:left;
    border-radius: 5px;
    margin-top:10px;
}

.perfect-car{
    font-size: large;
    text-align: center;
    margin-top:10px;
}

#postcode, #distance{
    border-radius: 0px;
}

.row{
    margin:0px;
}

.searchbutton{
    width:100%;
    border-radius: 0px;
}

.form-field {
    width: 100%;
    height: 31px;
    border-radius: 5px;
    overflow: hidden;
    border:1px solid grey;
    border-radius: 0px;
}

.pt{
    height:38px;
    max-width:134px;
    padding:12px 4px;
    border-radius: 1px;
    border:1px solid grey;
}

.pt:focus-visible, .nt:focus-visible {
    border: 5px solid lightskyblue !important;
  } 

  .pt-warining{
    color:red;
  }

  .pt-warining p{
    display: none;
  }

  .showWarningMessage{
    display: block !important;
  }

  input{
    font-size: larger;
  }

.pt-warining {
    text-align:left; 
    padding-left:4px; 
    max-width:140px;
}

.pt-conainer, .nt-container{
    text-align: center;
}
