<div class="container">
    <div class="searchbox">
        <p class="perfect-car">Find your perfect car</p>
            <div fxLayout="row"
                  fxLayoutAlign="space-around" fxLayoutGap="-30px">
                  <div class="pt-container">
                    <input class="pt" [(ngModel)]="postcode" type="text" name="postcode" placeholder={{ptplaceHolder}} (click)="clickPostcodeTextBox($event)" (focusout)="focusOutPostcodeTextBox($event)">
                    <div class="pt-warining">
                      <p [ngClass]="showWarningMessage == 'true' ? 'showWarningMessage' : ''">Please enter a valid UK postcode</p>
                    </div>
                  </div>

                  <div class="nt-container">
                    <input class="nt" [(ngModel)]="national" type="text" name="national" placeholder={{ntplaceHolder}} (click)="clickDropDownTextBox($event)">
                        <ul class="dropdown-list" [ngClass]="{'dropdown-open' : dropdownOpen}" (mouseover)="clickDropDownTextBox($event)" (mouseout)="hideDropdown()">
                          <li class="dropdown-option" *ngFor="let opt of options let i = index"
                              tabindex={{i}}                             
                              role="option"
                              (click)="clickDropDownOption(opt)">
                              <p>{{opt}}</p>
                            </li>
                      </ul>
                  </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="searchbutton btn btn-primary">Search {{vehicleCount}} Cars</button>
                </div>
            </div>
        </div>
    </div>
