<div class="container">
    <div class="searchbox">
        <p class="perfect-car">Find your perfect car</p>
            <div fxLayout="row"
                  fxLayoutAlign="space-around" fxLayoutGap="-30px">
                  <div class="pt-container">
                    <input class="pt" [(ngModel)]="postcode" type="text" name="postcode" placeholder={{ptPlaceHolder}} (click)="clickPostcodeTextBox($event)" (focusout)="focusOutPostcodeTextBox($event)">
                    <div class="pt-warining">
                      <p [ngClass]="showWarningMessage == 'true' ? 'showWarningMessage' : ''">Please enter a valid UK postcode</p>
                    </div>
                  </div>
                  <div class="nt-container">
                    <dropdown [options]="nationalOptions" [title]="national"></dropdown>
                  </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="searchbutton btn btn-primary">Search {{vehicleCount}} Cars</button>
                </div>
            </div>
        </div>
    </div>
