.vehiclepage-container{
    margin:20px 50px 0px 50px;
    min-height:750px;
}

img{
    width:100%;
}

:host ::ng-deep  .carousel-indicators {
    display: none;
}

:host ::ng-deep .carousel-control-next-icon, 
:host ::ng-deep .carousel-control-prev-icon {
    border:1px solid rgb(11, 0, 73);
    background-color: rgb(41, 55, 182);
    border-radius: 5px;
}

.card{
    border:0px;
    border-radius: 5px;
}

.display-images img{
    height:70px;
    width:auto;
    padding:5px;
}

.display-images {
    display: inline;
}

[class*="col-"] {
    padding:0px;
}

.vehicle-info{
    padding-left:20px;
    margin-bottom: 20px;
    margin-left:20px;
}

.image-box{
    border-radius: 5px;
    margin-bottom:20px;
}

.card{
    padding:5px;
}

.i1 {
    height:100px !important;
}

.vehiclepage-container{
    margin-bottom: 20px;
}

img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}