.title{
    font-size: xx-large;
    text-align: center;
    color:rgb(139, 132, 132);
}

.new-car-container{
    margin:0px 50px;
    border:1px solid rgb(231, 230, 230);
    height:350px;
    margin-top:20px;
    border-radius: 5px;
    padding-top:20px;
    margin-bottom:40px;
}

.new-car-container>.container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height:290px;
}

.view-more{
    text-decoration: underline;
    text-align: center;
    margin-top:40px;
}

.arrow-right{
    padding-top:5px;
}

mat-card:hover, mat-card-content:hover{
    transition: all 0.3s ease-out;
    cursor: pointer;
}

mat-card{
    flex-direction: row;
    flex: 1;
    margin:10px;
}

mat-card:hover {
      transition: all 1s ease-out;
      box-shadow: 0px 0px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border-bottom: 1px solid #cccccc;
      background-color: white;
}
  
.mat-card-image{
    margin-bottom: 5px;
}

.mrrp{
    text-decoration: line-through;
    color:rgb(177, 177, 177);
    font-size: 0.9em;
    margin-bottom:0px;
}

.mrrp-content{
    font-size: 0.9em;
    margin-bottom:0px;
}

.now{
    color:red;
    font-size: 0.9em;
    margin-bottom:0px;
}

.now-content{
    color:red;
    font-size: 0.9em;
    margin-bottom:0px;
}

.save{
    color:rgb(155, 154, 154);
    font-size: 0.9em;
    margin-bottom:0px;
}

.save-content{
    font-size: 0.9em;
    margin-bottom:0px;
}

.description{
    font-size:0.9em;
}

hr{
    margin: 5px 0px;
}
